spring:
  datasource:
    url: jdbc:mysql://localhost:3306/logistica_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # durante desarrollo
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/logistica

server:
  port: 8080

keycloak:
  url: ${KEYCLOAK_URL:http://localhost:8181}
